%section#facts.facts-section.text-center{"data-stellar-background-ratio" => "0.2", "data-stellar-vertical-offset" => "50"}
  .tt-overlay-bg
    .container
      .row
        .col-md-12
          .count-wrap
            .col-sm-3.col-xs-6
              %i.fa.fa-flask
              %h3.timer 1
              %p Years of Experience
            .col-sm-3.col-xs-6
              %i.fa.fa-thumbs-up
              %h3.timer 4
              %p Projects Done
            .col-sm-3.col-xs-6
              %i.fa.fa-users
              %h3.timer 1
              %p Happy Clients
            .col-sm-3.col-xs-6
              %i.fa.fa-trophy
              %h3.timer 4
              %p Awards Won