%section#home.tt-fullHeight{"data-stellar-background-ratio" => "0.2", "data-stellar-vertical-offset" => "50"}
  .intro
    .intro-sub I am Ekansh Sharma
    %h1
      Full Stack
      %span Developer
    %p
      I am a fully professional Developer
      %br/
      Involving with latest technologies.
      %br/
      Feel free to contact.
    .social-icons
      %ul.list-inline
        %li
          %a{:href => "https://github.com/Ekansh-Sharma"}
            %i.fa.fa-github
        %li
          %a{:href => "https://in.linkedin.com/in/sharmaekansh"}
            %i.fa.fa-linkedin
        %li
          %a{:href => "https://www.facebook.com/ekansh.sharma.921"}
            %i.fa.fa-facebook
        %li
          %a{:href => "https://twitter.com/ekanshsharma18"}
            %i.fa.fa-twitter
  .mouse-icon
    .wheel