%section#resume.resume-section.section-padding
  .container
    %h2.section-title.wow.fadeInUp Resume
    .row
      .col-md-12
        .resume-title
          %h3 Education
        .resume
          %ul.timeline
            %li
              .posted-date
                %span.month 20011-2015
              .timeline-panel.wow.fadeInUp
                .timeline-content
                  .timeline-heading
                    %h3 Bachelor degree certificate
                    %span NIT Arunachal Pradesh, Yupia, India
                  .timeline-body
                    %p I have completed bachelor degree from NIT Arunachal Pradesh, Yupia, India at feel the charm of existence in this spot, which was create.
            %li.timeline-inverted
              .posted-date
                %span.month 2009-2010
              .timeline-panel.wow.fadeInUp
                .timeline-content
                  .timeline-heading
                    %h3 Higher Secondary certificate
                    %span S.M.B Inter College, Aligarh, India
                  .timeline-body
                    %p From this college of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
            %li
              .posted-date
                %span.month 2007-2008
              .timeline-panel.wow.fadeInUp
                .timeline-content
                  .timeline-heading
                    %h3 Secondary school certificate
                    %span S.M.B Inter College, Aligarh, India
                  .timeline-body
                    %p I was awesome at math, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy.
    .row
      .col-md-12
        .resume-title
          %h3 Experience
        .resume
          %ul.timeline
            %li.timeline-inverted
              .posted-date
                %span.month 2015-Current
              .timeline-panel.wow.fadeInUp
                .timeline-content
                  .timeline-heading
                    %h3 Full Stack Developer
                    %span Cybrilla Technologies, Bengalore
                  .timeline-body
                    %p I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.