%section#skills.skills-section.section-padding
  .container
    %h2.section-title.wow.fadeInUp Skills
    .row
      .col-md-6
        .skill-progress
          .skill-title
            %h3 Ruby
          .progress
            .progress-bar.six-sec-ease-in-out{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar"}
              %span 80%
          / /.progress
        / /.skill-progress
        .skill-progress
          .skill-title
            %h3 Rails
          .progress
            .progress-bar.six-sec-ease-in-out{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar"}
              %span 70%
          / /.progress
        / /.skill-progress
        .skill-progress
          .skill-title
            %h3 Business Logic
          .progress
            .progress-bar.six-sec-ease-in-out{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar"}
              %span 80%
          / /.progress
        / /.skill-progress
      / /.col-md-6
      .col-md-6
        .skill-progress
          .skill-title
            %h3 AngularJs
          .progress
            .progress-bar.six-sec-ease-in-out{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar"}
              %span 80%
          / /.progress
        / /.skill-progress
        .skill-progress
          .skill-title
            %h3 Javascript
          .progress
            .progress-bar.six-sec-ease-in-out{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar"}
              %span 70%
          / /.progress
        / /.skill-progress
        .skill-progress
          .skill-title
            %h3 HTML
          .progress
            .progress-bar.six-sec-ease-in-out{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar"}
              %span 80%
          / /.progress
        / /.skill-progress
      / /.col-md-6
    / /.row
    .skill-chart.text-center
      %h3 More skills
    .row.more-skill.text-center
      .col-xs-12.col-sm-4.col-md-2
        .chart{"data-color" => "e74c3c", "data-percent" => "90"}
          %span.percent
          .chart-text
            %span Leadership
      .col-xs-12.col-sm-4.col-md-2
        .chart{"data-color" => "2ecc71", "data-percent" => "80"}
          %span.percent
          .chart-text
            %span Creativity
      .col-xs-12.col-sm-4.col-md-2
        .chart{"data-color" => "3498db", "data-percent" => "50"}
          %span.percent
          .chart-text
            %span Management
      .col-xs-12.col-sm-4.col-md-2
        .chart{"data-color" => "3498db", "data-percent" => "90"}
          %span.percent
          .chart-text
            %span Goal Oriented
      .col-xs-12.col-sm-4.col-md-2
        .chart{"data-color" => "3498db", "data-percent" => "85"}
          %span.percent
          .chart-text
            %span Team Player
      .col-xs-12.col-sm-4.col-md-2
        .chart{"data-color" => "3498db", "data-percent" => "90"}
          %span.percent
          .chart-text
            %span Motivation